<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <hr>
    <form method="POST">{% csrf_token %}
        <lable> Number:</lable>
        <input name="num" id="n1" type="number" placeholder="enter a number" required>
        <br><br><button>submit</button>
    </form>
    {% if res %}
    <h1> Armstrong number {{ res }}</h1>
    {% else %}
    <h2> it is not a Armstrong number</h2>
    {% endif %}
</body>
</html>